rmenon01 ALL=(root) /opt/LifeKeeper/bin/lkGUIapp, /bin/systemctl stop nfs-server, \
                    /bin/systemctl start nfs-server, /bin/umount /export/sapmnt/*, \
                    /opt/LifeKeeper/bin/lkcheck, /opt/LifeKeeper/bin/lkchkconf, \
                    /opt/LifeKeeper/bin/lcdremexec, /opt/LifeKeeper/bin/lcdstatus, \
                    /opt/LifeKeeper/bin/perform_action, /opt/LifeKeeper/bin/lksupport  
